 //Flex Center

@mixin flexCenter($direction){
    display:flex;
    flex-direction:$direction;
    justify-content:center;
    align-items:center;
}


//background-color and set-text-color together
@mixin set-background($color){
    background-color:$color;
    color:set-text-color($color);
}


//transitions 
@mixin transition-ease{
    transition:all 0.5s ease-in-out;
}



//mixins for media-queries
//colocar isto em ems


//600 -tablet portrait
//900 -tablet landscape
//1200 - desktop
//1800 - big desktop 

//$breakpint argument:

//tab-port
//tab-land
//desktop
//big-desktop

//1em=16px


@mixin respond($breakpoint){
    @if $breakpoint == tab-port{
        @media only screen and (min-width:37.5em){@content};
    }

    @if $breakpoint == tab-land{
        @media only screen and (min-width:56.25em){@content};
    }

    @if $breakpoint == desktop{
        @media only screen and (min-width:75em){@content};
    }

    @if $breakpoint == big-desktop{
        @media only screen and (min-width:112.5em){@content};
    }
}
/* @mixin media-md{
    @media screen and(min-width:768px){
        @content;
    }
}

@mixin media-lg{
    @media screen and(min-width:1024px){
        @content;
    }
}

@mixin media-xl{
    @media screen and(min-width:1281px){
        @content;
    }
}
 */
