.header{
    width:100%;
    position:fixed;
    top:0;
    padding:1rem;
    z-index:999999999; 
    background-color:$white-color;

    @include respond(tab-land){
        padding: 2rem 6rem;
    }

    @include respond(desktop){
        display:flex;
        align-items:center;
         z-index:999999999;
        
    }
}







