.about-us{
    width:100%;
    padding-top:10rem;
    height:100vh;


    &__bg-violet{
        background-color:$primary-color;
        width:100%;
        height:31rem; 
        position:absolute;
        top:20rem;
        display:flex;
        flex-direction:column;
        align-items: center;
    }

    &__img{
        position:absolute;
        width:80%;
        top:-12rem;
    }
}

.card{
    position:absolute;
    @include set-background($white-color);
    color:$primary-color;
    top:5rem;
    padding:2rem 3.2rem;
    text-align:center;

    &__subtitle{
        font-size:1rem;
        margin:2rem 0 1.5rem 0;
       
    }
    &__title{
        text-align:inherit;
        line-height: 3.5rem;
        font-size:3.2rem;
       
        span{
          display:block;  
        }
    }

}

.section-2{
    @include set-background($white-color);
    display:flex;
    flex-direction: column;

    &__title-container{
        padding:8rem 2rem 0rem 2rem;
    }

    &__title{
        color:$primary-color;
        font-size:2.8rem;
        line-height: 3rem;
    }

    &__p-container{
        padding: 4rem 2rem 5rem 6rem;
        
    }   

    &__p{
        color:rgba($grey-color,.5);
        font-size:1.4rem;
    }
}

.section-3{
    

    &__bg-violet-content{
        @include set-background($primary-color);
        color:$white-color;
        padding:5rem;

         p {
             padding: 5rem 0 0 0;
             font-size:1.2rem;
         }
    }

    &__img-container{
        padding:4rem;

        img{
            width:100%;
        }
    }

    &__title{
       
        padding:2.5rem 3rem ;
        color:$primary-color;
        
        h2{
            font-size:1.9rem;
        }
    }

    &__img2-container{

        img{
            width:100%;
        }
        
    }

    &__content{
        padding: 2rem 1rem;

        h5{
            color:$primary-color;
        }
        p{
            padding-top:5rem;
            font-size:1.5rem;
        }
    }

   
}