.about-us{
    width:100%;
    padding-top:10rem;
    height:100vh;

  /*   display:flex;
    flex-direction:column;
    justify-content: flex-end; */
   

    &__bg-violet{
        background-color:$primary-color;
        width:100%;
        height:31rem; 
        position:absolute;
        top:20rem;
        display:flex;
        flex-direction:column;
        align-items: center;
    }

    &__img{
        position:absolute;
        width:80%;
        top:-12rem;
    }
}

.card{
    position:absolute;
    @include set-background($white-color);
    color:$primary-color;
    top:5rem;
    padding:2rem 3.2rem;
    text-align:center;

    &__subtitle{
        margin:2rem 0 1.5rem 0;
       
    }
    &__title{
        text-align:inherit;
        line-height: 3.5rem;
       
        span{
          display:block;  
        }
    }

    &__paragraph{
        padding:.4rem 0;
        font-size:1rem;
        font-style: italic;
        color:$grey-color;
        
        a{
            text-decoration-line:underline;
        }
    }
}

.section-2{
    @include set-background($white-color);
    display:flex;
    flex-direction: column;

    &__title-container{
        padding:8rem 2rem 0rem 2rem;
    }

    &__title{
        color:$primary-color;
        font-size:2.8rem;
        line-height: 3rem;
    }

    &__p-container{
        padding: 4rem 2rem 5rem 6rem;
        
    }   

    &__p{
        color:rgba($grey-color,.5);
    }
}

.section-3{
    @include set-background($primary-color);
    color:$white-color;
    padding:5rem;

    h5{
       
        font-size:1.5rem;
        font-weight:400;
        letter-spacing:.4rem;

        &::after{
            content:"";
            position:absolute;
            transform:translate(-225px , 65px);
            width:8rem;
            height:.7rem;
            background-color:lighten($primary-color,20%);
        }


    }

    p{
        padding:7rem 0 0 0;
    }
}