.menu-btn{
        position:absolute;
        z-index:1;
        top:1rem;
        right:1rem;
        width:28px;
        height:20px;
        cursor:pointer;
        @include transition-ease;

         @include respond(tab-land) {
            top:2rem;
            right:6rem;
         }

         @include respond(desktop){
             display:none;
         }
        
        &__burger{
                position:absolute;
                right:0;
                top:.5rem;
                width:28px;
                height:3px;
                background-color:set-text-color($white-color);
                @include transition-ease;


                &::before{
                    content:'';
                    position:absolute;
                    top:-8px;
                    width:28px;
                    height:3px;
                    background-color:set-text-color($white-color);
                    @include transition-ease;
                }

                &::after{
                    @extend .menu-btn__burger::before;
                    top:8px;
                    width:20px;
                }  
                
                &.open{
                    transform:rotate(360deg);
                    background:transparent;

                    &::before{
                        transform:rotate(45deg) translate(6.8px,7.1px);
                        width:20px;
                        background-color:$white-color;
                    }

                    &::after{
                        transform:rotate(-45deg) translate(4.2px, -4.5px);
                        width:20px;
                        background-color:$white-color;
                    }
                }
        }

}

.nav{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    opacity:.98; 
    visibility:hidden;
    

    &.open{
        visibility: visible;
    }

    @include respond(desktop) {
        visibility:visible;
    }
} 

.menu-nav{
    z-index:2;
    height:100vh;
    @include flexCenter(column);
    background-color:$primary-color;
    transform:translateY(-100%);
    @include transition-ease;

     @include respond(desktop) {
        transform:translateY(0);
        position:absolute;
        right:6rem;
        top:3rem;
        height:15px; 
        background-color:transparent;
        display:flex;
        flex-direction:row;
        
     }

    &.open{
        transform:translateY(0);
    }

    &__item{
        transform:translateX(100vw);
        @include transition-ease;
         padding:.5rem 0;

         &.open{
             transform:translateX(0);
         }

          @include respond(desktop) {
              transform: translateX(0);
              transition:none;
              padding:0 .8rem;
          }
    }

    &__link{
  
        font-size:1.5rem;
        font-family:"Merriweather",
        serif;
        font-weight:300;
        color:$white-color;
        @include transition-ease;

        &:hover{
           color:$secondary-color;
        }

        @include respond(tab-port){
            font-size:2rem;
            line-height:4rem;
        }

         @include respond(desktop) {
             color:$primary-color;
             font-size:1.3rem;
              font-family:"Open Sans",
              sans-serif;
              font-weight:500;
              text-transform:uppercase;
         }
      
    }
}


@for $i from 1 through 7{
    .menu-nav__item:nth-child(#{$i}){
        transition-delay:($i *0.25s) + 0.15s;
    }
}