.btn{
    border:none;
    text-transform:uppercase;
    cursor: pointer;
    @include transition-ease;

    &__primary{
        background-color:$white-color;
        color:$secondary-color;

    }

    &-small {
        padding: 1rem;
    }

    &-medium {
        padding: 1rem 3rem;
        font-size: 1rem;
        font-weight: weight(bold);
        letter-spacing: .1rem;
        

    }

    &-large {
        padding: 1rem 5rem;
        font-size: 1.5rem;
        font-weight: weight(bold);
        letter-spacing: .1rem;
    }

    &__secondary{
        background-color:$secondary-color;
        color:$white-color;
        
    }

    &:hover {
        @include set-background($primary-color);
        color: $white-color;
    }

    
}