h1{
    font-size:3.75rem;
    font-family:"Merriweather",
    serif;
}


h2{
    font-size:3.2rem;
    font-family:"Merriweather",serif;
}

h5{
    font-size:1rem;
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    letter-spacing: .7rem;
}

p{
    font-family:"Open Sans",sans-serif;
}