//Flex Center

@mixin flexCenter($direction){
    display:flex;
    flex-direction:$direction;
    justify-content:center;
    align-items:center;
}


//background-color and set-text-color together
@mixin set-background($color){
    background-color:$color;
    color:set-text-color($color);
}


//transitions 
@mixin transition-ease{
    transition:all 0.5s ease-in-out;
}



//mixins for media-queries
//colocar isto em ems

/* @mixin media-md{
    @media screen and(min-width:768px){
        @content;
    }
}

@mixin media-lg{
    @media screen and(min-width:1024px){
        @content;
    }
}

@mixin media-xl{
    @media screen and(min-width:1281px){
        @content;
    }
}
 */
